button:focus, button:active {
   outline: none !important;
   box-shadow: none;
}

[placeholder]{
	text-overflow:ellipsis;
}
::placeholder{
	text-overflow:ellipsis;
}
input[type=search] {
	appearance: none;
}

* {
	outline: none;
	-webkit-font-smoothing: antialiased;
}