/** 背景 */
body.tc-body {
	background-color: white;
}
/** 给卡片加上阴影 */
.tc-tiddler-frame {
	box-shadow: rgba(15, 15, 15, 0.1) 0px 0px 5px 1px, rgba(15, 15, 15, 0.1) 0px 2px 10px;
}
/** 顶部标题栏半透明 */
:root {
	--menubar-height: 29px;
}

.tc-tiddler-title {
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
	/** fix menubar with sticky title https://github.com/Jermolene/TiddlyWiki5/issues/4471#issuecomment-594456486*/
	top: var(--menubar-height);
}
/** 编辑器工具栏浮动 */
.tc-editor-toolbar {
	position: sticky;
	z-index: 499;
	top: calc(39px + var(--menubar-height));
	background: rgba(255, 255, 255, 0.5);
	backdrop-filter: blur(10px);
}
/** 下拉列表当前鼠标悬浮状态的颜色 */
.tc-block-dropdown a {
	transition: background-color 0.2s;
}
.tc-block-dropdown a:hover {
	background-color: #EEEEEE;
}
/** 去掉预览除了左边框的边框 */
.tc-tiddler-preview-preview {
	border: none;
	padding-left: 10px;
	border-left: 1px solid #cccccc;
}
/** 去掉代码编辑器的边框 */
.CodeMirror {
	border: none;
}
/** 去掉所有其它文本编辑框的边框 */
.tc-tiddler-frame input.tc-edit-texteditor {
	border: none;
	background: transparent;
}
/** 标题下面的 tag 栏 */
.tc-edit-tags {
	border: none;
	border-bottom: 1px solid #cccccc;
	padding: 4px 8px 4px 8px;
}