details.kk-utility-details summary {
	opacity:0.2;
	font-size:0.9em;
	display: inline;
	cursor: pointer;
	padding: 10px;
	transition: 0.3s;
	-webkit-user-select: none;
	-moz-user-select: none;
	-ms-user-select: none;
	user-select: none;
}
details.kk-utility-details summary:hover,
details.kk-utility-details[open] > summary {
	opacity:1;
}

/* hide in preview pane */
.tc-tiddler-preview-preview .kk-utility-details{
	display: none; 
}


/* used in $:/plugins/kookma/utility/ui/ControlPanel/Settings */
.kk-utility-label{
	width:26em;
	display: block;
	margin-top:5px;
}

.kk-ut-txt{
	min-width:50%;
}