name: Deploy Tiddlywiki To Github Pages

on:
  push:
    branches:
      - main
      - master
#     paths:
#       - "plugins/**"
#       - "tiddlers/**"
#       - "package.json"

# Sets permissions of the GITHUB_TOKEN to allow deployment to GitHub Pages
permissions:
  contents: write
  pages: write
  id-token: write

jobs:
  deploy:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@8ade135a41bc03ea155e62e844d188df1ea18608 # v4
      - uses: actions/setup-node@v3.8.1
        with:
          node-version: '18'

      - name: Cache dependencies
        uses: actions/cache@v4
        with:
          path: |
            **/node_modules
          key: ${{ runner.os }}-${{ hashFiles('**/package.json') }}
          
      - name: Install Dependency
        run: npm install
        
      # - name: 运行zx构建
      #   run: npm run zx-build

      - name: Building online versions of web pages
        run: npm run buildonline
      - name: Building downloadable offline versions of web pages
        run: npm run buildoffline
      - name: Workbox offline cache
        run: npx workbox injectManifest workbox-config.js

      - name: Upload artifact
        uses: actions/upload-pages-artifact@v2.0.0
        with:
          # Upload entire repository
          path: ./public-dist
      - name: Deploy to GitHub Pages
        id: deployment
        uses: actions/deploy-pages@v4.0.4
